.header{
    background-color: antiquewhite;
    height: 25%;
}
.esquerre{
text-decoration:underline;
float: left;

}
.dreta{
    position: relative;
    left: 900px;
    top: 10px;
}
.ColumnaDretaAgendaMenu{
    position: static;
    left: 1800px;
    bottom: 0px;
    background-color: hsl(51, 58%, 73%);
    width: 25%;
    height: 35%;
}
.ColumnaCentral{
    width: 75%;
    height: 75%;
    background-color: rgb(95, 90, 90);
}
.ColumnaDretaAgenda{
    width:20% ;
}